*{
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    margin: 0;
    height: fit-content;
    display: flex;
}

/* nav bar */
.nav{
    background-color: #354052;
    color: #aab6c7;
    width: 15vw;
    height: auto;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile, .menu, .admin, .categories{
    margin: 0;
    padding: 0;
    height: fit-content;
}

.main-text, .home-menu, .jobs-menu, .resumes-menu, .tasks-menu, .calendar-menu,
.users-menu, .locations-menu, .workflows-menu, .job-boards-menu, 
.social-menu, .name-and-arrow{
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.checkbox-label{
    display: flex;
    align-items: center;
}

.checkbox1, .checkbox2, .checkbox3, .checkbox4{
    width: 1vw;
    height: 1vw;
    margin-left: 1vw;
    border-radius: 2px;
}

.checkbox1{
    background-color: #fed703;
}

.checkbox2{
    background-color: #29adfe;
}

.checkbox3{
    background-color: #e41a60;
}

.checkbox4{
    background-color: #00ac89;
}

.administration-text, .design-text, .executive-text, .human-resources-text{
    padding-left: 1vw;
}

/* main page */
.main{
    background-color: #ffffff;
    width: 85vw;
    height: fit-content;
}

/* search bar */
.search-field{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    width: 82%;
    height: 7vh;
    border: none;
}

.title-and-location{
    padding-top: 3vw;
}

.hypen-text{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.friend-container, .paper-container, .menu-container, .hamburger-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 3.5vw;
    border-style: solid;
    border-width: thin;
}

/* job title */
.title{
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.title-location-and-options{
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
}

.attorney-text{
    margin: 0;
}

.subtitle{
    display: flex;
    align-items: center;
    padding-top: 0.5vw;
}

.location, .preview-this-post{
    margin: 0;
}

.preview-this-post{
    color: #61b7ed
}

.title-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-right: 1vw;
    width: 15vw;
}

.open-status{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2vw;
    border-style: solid;
    border-width: thin;
    border-radius: 500px;
    border-color: #a1a5b1;
}

.green-circle{
    background-color: #8dc94b;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
    filter: inherit
}

.open-text{
    font-size: 20px;
    font-weight: bold;
    filter: inherit
}

.bookmark-border, .pencil-border, .trash-can-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    filter: invert(66%) sepia(9%) saturate(261%) hue-rotate(187deg) brightness(91%) contrast(85%);
}

.about-menu{
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 2vw;
}

.summary-container{
    border-style: solid;
    border-width: thick;
    border-top: white;
    border-right: white;
    border-left: white;
    border-bottom-color: #61b7ed;
}

.summary-text{
    font-weight: bold;
    font-size: 20px;
}

.summary-container, .applications-text, .job-board-text, .interviews-text,
.activity-text, .broadcast-text, .notifications-text{
    font-size: 20px;
    margin-right: 4vw;
}

/* statistics area */
.statistics{
    display: flex;
    background-color: #edf2f6;
}

.pie-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
}

.pie-charts{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 45vw;
}

.bar-information{
    border-color: rgb(38, 206, 215);
    width: 45vw;
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    padding-bottom: 1vw;
}

.bar-graph{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider{
    display: flex;
    align-items: center;
    width: 85vw;
    background-color: #edf2f6;
}

.applicants-button, .totals-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 2vw;
    border-style: solid;
    border-width: thin;
    border-radius: 500px;
    background-color: #f9f9f9;
    border-color: grey;
    margin-top: 2vw;
}

.totals-button{
    width: fit-content;
}

.totals-text{
    padding: 1vh;
}

.divider-1, .divider-2{
    width: 42vw;
}

.divider-4, .divider-5, .divider-6{
    background-color: #212836; 
    height: 4px; 
    border: 0;
}

.divider-7{
    margin: 0;
}

/* about and connect area */
.about-and-connect{
    display: flex;
    height: auto;
}

/* about area */
.about{
    background-color: #edf2f6;
    width: 60vw;
    padding: 1.5vw;
    height: auto;
    color: #435362
}

.job-description-banner{
    background-color: #607594;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
}

.job-description-text{
    margin: 0;
    padding-left: 2vw;
    padding-right: 1vw;
}

.edit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808caa;
    width: 4.5vw;
    height: 2vw;
}

.pencil-icon2{
    width: 1vw;
    height: 1vw;
    padding-right: 5px;
    filter: invert(100%) sepia(84%) saturate(1401%) hue-rotate(179deg) brightness(108%) contrast(99%);
}

.walter-white-profile{
    width: 2.5vw;
    height: 2.5vw;
    padding-right: 1vw;
}

.facebook-icon, .twitter-icon, .linkedin-icon{
    width: 2vw;
    height: 2vw;
}

.globe-icon, .widget-icon, .paper-plane-icon{
    width: 1.5vw;
    height: 1.5vw;
    padding-right: 1vw;
    filter: invert(12%) sepia(17%) saturate(1409%) hue-rotate(175deg) brightness(94%) contrast(89%);
}

.position-title-container, .location-container, .employment-type-container,
.experience-container, .status-container,
.hiring-lead-container, .approved-salary-container{
    display: flex;
    align-items: center;
    background-color: white;
}

.description-container{
    display: flex;
    background-color: white;
}

.position-title-text, .location-text, .employment-type-text,
.experience-text, .status-text, .description-text, .hiring-lead-text,
.approved-salary-text{
    width: 10vw;
    padding-left: 2vw;
}

.description-paragraph{
    border-color: white;
    width: 50vw;
}

.about-page-break{
    margin: 0;
}

/* connect area */
.connect{
    background-color: #edf2f6;
    width: 20vw;
    height: auto;
    color: #1f2a3a;
    padding: 1.5vw;
    padding-left: 0;
}

.facebook-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 1.5vw;
    height: 2vw;
}

.facebook-container{
    background-color: #475a93;
}

.twitter-container{
    background-color: #50a9f4;
}

.linkedin-container{
    background-color: #3877b5;
}

.facebook-container, .twitter-container, .linkedin-container{
    display: flex;
    align-items: center;
    border-style: none;
    width: 20vw;
    color: white;
    margin-bottom: 1vw;
}

.facebook-title-container, .twitter-title-container, .linkedin-title-container{
    width: 18vw;
}

.link-job-area, .use-widget-area, .upload-resume-area{
    display: flex;
    flex-direction: column;
}

.link-to-this-job-container, .use-the-button-widget-container,
.upload-resume-by-email-container{
    display: flex;
    align-items: center;
}

.copy-job-interaction-container, .copy-widget-interaction-container,
.copy-email-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
}

.copy-button1, .copy-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4cb8c5;
    color: white;
    width: 4vw;
    height: 3vw;
    border-radius: 5px;
}

.job-URL-textbox, .widget-code-textbox{
    width: 15vw;
    height: 2.75vw;
    border-radius: 5px;
}

.email-textbox{
    width: 17.5vw;
    height: 2.75vw;
    border-radius: 5px;
}

/* images and icons */
.saul-profile{
    padding-top: 2vw;
    width: 6vw;
}

.left-arrow-icon{
    width: 12px;
    height: 12px;
    filter: invert(47%) sepia(41%) saturate(3468%) hue-rotate(180deg) brightness(101%) contrast(87%);
}

.arrow-down-icon{
    width: .5vw;
    height: .5vw;
    padding-top: .5vw;
    padding-left: .5vw;
    filter: invert(100%) sepia(20%) saturate(4709%) hue-rotate(173deg) brightness(79%) contrast(94%);
}

.maps-and-flags-icon2{
    padding-right: 0.5vw;
}

.home-icon, .suitcase-icon, .document-icon, .list-icon, .calendar-icon,
.people-icon, .maps-and-flags-icon, .workflow-icon, .bulletin-board-icon,
.network-icon {
    width: 1vw;
    height: 1vw;
    padding-right: 1vw;
    filter: invert(100%) sepia(20%) saturate(4709%) hue-rotate(173deg) brightness(79%) contrast(94%);
}

.hamburger-icon, .magnifying-glass-icon, .add-friend-icon, .papers-icon,
.menu-icon {
    width: 1.5vw;
    height: 1.5vw;
    filter: invert(66%) sepia(9%) saturate(261%) hue-rotate(187deg) brightness(91%) contrast(85%);
}

.up-arrow-icon{
    width: 2vw;
    height: 2vw;
    padding-left: .5vw;
    padding-right: .5vw;
    filter: invert(66%) sepia(9%) saturate(261%) hue-rotate(187deg) brightness(91%) contrast(85%);
}

.maps-and-flags-icon2, .bookmark-icon, .pencil-icon, .trash-can-icon{
    width: 1vw;
    height: 1vw;
    filter: invert(66%) sepia(9%) saturate(261%) hue-rotate(187deg) brightness(91%) contrast(85%);
}

.applicants-graph, .interviews-graph, .forwards-graph{
    width: 10vw;
}

.bar-graph{
    width: 20vw;
}