body{
    background-color: blue;
    margin: 0;
    height: 100vh;
    display: flex;
}

/* nav bar */
.nav{
    background-color: aqua;
    width: 15vw;
    height: 100vh;
}

.profile{
    border-style: dashed;
    margin: 0;
    height: fit-content;

}

.menu, .admin, .categories{
    border-style: dashed;
    margin: 0;
    padding: 0;
    height: fit-content;
}

/* main page */
.main{
    background-color: green;
    width: 85vw;
    height: 100vh;
}